@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./reset.css');

@font-face {
  font-family: 'Pretendard-bold'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../public/fonts/Pretendard-Bold.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
  font-family: 'Pretendard-extraBold'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../public/fonts/Pretendard-ExtraBold.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
  font-family: 'Pretendard'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../public/fonts/Pretendard-Regular.ttf'); /* 폰트 파일의 위치 */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

