.pageWrapper {
    background-image: url('../../../public/images/mainbg2.svg');
    height: 2117px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.checkResWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pretendard';
}

.headerWrapper {
    display: flex;
    font-family: 'Pretendard';
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerWrapper label {
    color: #2067D1;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 22px;
}

.headerWrapper h2 {
    font-weight: 800;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 20px;
}

.header span, .headerWrapper span {
    font-size: 23px;
}

.line {
    border: 0.5px solid #ADADAD;
    height: 1px;
    width: 65%;
    margin-top: 113px;
    margin-bottom: 36px;
}

.imgWrapper img {
    width: 66px;
    height: 66px;
}

.spanWrapper span:first-child {
    font-weight: 800;
}

.checkRes {
    margin-top: 58px;
    font-family: 'Pretendard';
}

.btnWrapper {
    position: relative;
    gap: 10px;
    display: flex;
}

.btnWrapper button {
    width: 100%;
    height: 71px;
    border: 0.68px solid #B2B2B2;
    border-radius: 17px;
    font-weight: 700;
    font-size: 24px;
}

.btnWrapper div {
    position: relative;
    width: 17%;
}

.active::after {
    content: "";
    display: inline-block;
    clear: both;
    border: 8px solid transparent;
    border-top-color: #3f5b6b;
    position:absolute;
    right: 50%;
    bottom: -15px;
    transform: translateX(50%);
}

.findRes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid #B2B2B2;
    border-radius: 30px;
    height: 209px;
}

.inputWrapper {
    display: flex;
    width: 80%;
    font-family: 'Pretendard';
    align-items: center;
    gap: 15px;
}

.inputWrapper input {
    border: 2px solid #B2B2B2;
    border-radius: 17px;
    height: 72px;
    padding: 14px 35px;
    font-size: 23px;
}

.inputWrapper input:first-child {
    flex: 1.5;
}

.inputWrapper input:nth-child(3) {
    flex: 1;
}

.inputWrapper span {
    font-weight: 800;
    font-size: 68px;
}