.flightsHeader {
    background-color: #2067D1;
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: 0 40px;
    border-radius: 11px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 25px;
}

.flightsHeader div {
    width: 20%;
    text-align: center;
}

.flightsHeader div:nth-child(4) {
    width: 10%;
}

.flightItemWrapper {
    width: 90%;
    margin: 96px auto 50px auto;
}

.flightItem {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    background-color:#fff;
    padding : 0 40px;
    font-size: 'Pretendard';
    border : solid #888888 0.5px;
    border-radius: 11px;
    margin: 4px auto;
    height: 166px;
    box-shadow: 0 0 7px 0 #888888;
    margin-top: 20px;
}

.flightItem > div {
  width: 20%;
  text-align: center;
  font-size: 28px;
}

.flightItem > div:nth-child(4) {
  width: 10%;
}